<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517672651691-24622a91b550?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);">
  <div class="container">
    <h1>The easiest way to ride a sports car</strong>!</h1>
    <p>Change your life and learn to speed.</p>
    <a class="btn btn-success" href="#">Start now</a>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'my cars', user_cars_path(current_user) %> 
<% end %>