<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517672651691-24622a91b550?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);">
  <div class="container-landing">
    <h1>
      Be <span id="banner-typed-text"></span>
    </h1>
    <p>Rent it till you make it.</p>

    <%= form_tag cars_path, method: :get, class:'simple_form search' do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control string required",
        placeholder: "Find a car..."
      %>
      <button name="button" type="submit" class="btn btn-flat">
        Search
      </button>
    </div>
    <% end %>
    
  </div>
</div>

<div class='steps'>
  <h2 style='font-weight: 700' id='how'>Your path to luxury</h2>
  <div class='info-container'>
    <div class='info'>
      <i class="fas fa-search"></i>
      <h4>Search</h4>
    </div>
    <div class='info'>
      <i class="fas fa-dollar-sign"></i>
      <h4>Book car</h4>
    </div>
    <div class='info'>
      <i class="fas fa-road"></i>
      <h4>Hit the road</h4>
    </div>
    <div class='info'>
      <i class="fas fa-undo"></i>
      <h4>Return car</h4>
    </div>
  </div>
</div>