<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
<% if user_signed_in? %>
  <%= link_to 'my cars', user_cars_path(current_user) %> 
<% end %>