.index-result {
    display: flex;
    padding: 0px 32px 32px 32px;

}

.carbig-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    flex-grow: 1;
    margin-right: 32px;
}

h5 {
    margin: 0px;
}

h2 {
    margin: 24px 0px;
}


.details {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

