.index-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.carbig-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

h5 {
    margin: 0px;
}

h2 {
    margin: 24px 0px;
}


.details {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

