.car-show-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    padding: 32px 32px 32px 32px;
}

.show-details {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 32px;
    justify-content: space-evenly;
    box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);
    margin-right: 32px;
}

.car-show-buttons {
    display: flex;
    margin-top: none;
    justify-content: flex-end;
    margin-top: 24px;
}



#back-btn-show {
    margin-left: none;
    font-size: 16px;
    margin-right: auto;
}

.start-end-inputs {
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#request-btn-show {
    display: block;
    border-radius: 4px;
}

.car-attr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.attr-value {
    margin: 20px;
}

.map-shadow {
    box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);
}