.big-container {
    align-content: center;
    padding: 60px;

}

.carshow-container {
    overflow: hidden;
    border-radius: 5px;
    width: 700px;
    margin: 0 auto;
    box-shadow: 5px 10px 18px #888888;
}

.show-details {
    padding: 12px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

table {
    margin: 10px;
}

#btn {
    margin: 22px;
    border-radius: 4px;
    float: right;
    background-color: black;
}

