.car-show-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
}

.show-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 24px 0px 24px 60px;
}

.car-show-buttons {
    margin-right: 80px;
}


