.car-card {
  box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);
  height: 250px
} 

.card-image{
    height: 200px;
    width: 100%;
    object-fit: cover;    
}

.car-card-big {
    box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);
    height: 290px !important;
}

.card-details{
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 12px;
}
.bookings {
    display: flex;
    
}

.booking-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.booking_car-container {
    overflow: hidden;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 5px 10px 18px #888888;
}

// .booking-details {
//     display: flex;
//     justify-content: space-between;
//     padding: 12px;
// }

h5 {
    margin: 0px;
}
